<h1>User Table</h1>
<table matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="id" width="5%">ID</th>
    <th mat-sort-header="name" width="30%">Name</th>
    <th mat-sort-header="email" width="40%">Email</th>
    <th mat-sort-header="phone" width="25%">Phone</th>
  </tr>

  <tr *ngFor="let item of currentItems">
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.email }}</td>
    <td>{{ item.phone }}</td>
  </tr>
</table>

<div class="footer">
  <button [disabled]="currentPage === 1" (click)="goToFirstPage()">
    First
  </button>
  <button [disabled]="currentPage === 1" (click)="goToPreviousPage()">
    Previous
  </button>
  <ng-container *ngFor="let pageNumber of pageNumbers">
    <button
      [class.active]="pageNumber === currentPage"
      (click)="goToPage(pageNumber)"
    >
      {{ pageNumber }}
    </button>
  </ng-container>
  <button
    [disabled]="currentPage === pageNumbers.length"
    (click)="goToNextPage()"
  >
    Next
  </button>
  <button
    [disabled]="currentPage === pageNumbers.length"
    (click)="goToLastPage()"
  >
    Last
  </button>
</div>
